/* ////////////////////////////////////// general
*/
* {
    box-sizing: border-box;
    font-family: "acumin-pro",sans-serif;
    letter-spacing: 0.02em;
}
body {
    overflow-x: hidden;
    margin-bottom: 80px !important;
}
/* ----------------------------- H E A D E R ----------------------*/

.header {
    background-color: #fff;
}

.header h1, .footer h1 {
    text-transform: lowercase;
    font-size: 2em;
}

.header-title {
    margin: 60px 0 0px 40px;
}
.header-title p {
    font-size: 0.8em;
 }
.header-menu {
    background-color: transparent;
    padding: 10px 0 0px 0;
    margin: 0 0 0px 40px;
}

.header-menu ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-menu ul li{
    display: inline;
    margin: 0 20px 0 0;
}

.header-menu ul li, .header-menu ul li a {
    
}
input.search-submit {
    padding-left: 0px!important;
}

.header-search {
    display: inline-block;
    margin: 10px 0 0 -30px;
    width: 100%;
}

.header-search .search-field {
    border: none;
    border-bottom: 1px solid;
    color: #333;
    width: 100%;
}

.header-search .search-submit {
    border: none;
    color: #333;
    background-color: transparent;
    font-size: 0.8em;
}

.search-form input::-webkit-input-placeholder {
   color: #DDD;
}


.header-topmenu {
    line-height: 1em;
    width:  100%;
    margin: 8px 0 0px;
}

.header-topmenu a {
    font-size: 0.8em;
}
.headerBorder {
    /* border-bottom: 1px solid; */
}

/* /////////////////////////////////////////////////////////////////////////////////////////// Content
*/
/* ////////////////////////////////////// Video Styles
*/
video {
    height: 0px;
    position: fixed;
}
canvas {
    height: 0%;
    width: 0%;
}
/* ////////////////////////////////////// Poem Styles
*/
.poemCol {
    /* margin-top: 50px; */
}
.poem {
    font-size: 1.0em;
    margin-bottom: 70px;
    cursor: pointer;
}
.poem:hover {
    width: 10px;
    background-color: #333;
    height: 10px;
}
.poem h1{
    font-size: 14px;
    font-weight: 700;
    line-height: inherit;
}
.poem span{
    margin-top: 20px;
    font-weight: 500;
    font-size: 0.8em;
}
.poem a{
    font-style: italic;
    font-size: 0.8em;
    line-height: normal;
    display: inline-block;
}
.poemFontBig {
    font-weight: 800;
    font-size: 6em;
}
.poemFontSmalle {
    font-weight: 800;
    font-size: 0.1em;
}
/* ////////////////////////////////////// Seitenleiste Liste
*/
.list {
    font-size: 0.8em;
    height: 100%;
    letter-spacing: 0em;
}
.list ul {
    margin-top: 20px;
    list-style: none;
}
.list li {
    line-height: 10px;
    border-bottom: 1px solid black;
    width: 80%;
    position: relative;
    z-index: 50;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}
.list li span{
    font-size: 0.8em;
}
.activeFour a {
    color: white;
}
.activeFour {
    width: 100px;
    font-size: 290px;
    color: white;
    content: 'DADA';
}
.activeFour li:hover{
    color: blue;
    content: 'DADA';
}
.listBlur {
    font-size: 0em;
}
.listBlur li{
    background-color: transparent;
    background: linear-gradient(270deg, #00ffbd, #fff504, #ff00ab, #c1ccff, #c1ffcd, #4CDEFF);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*.listBlur li{
    font-size: 0.7em;
    background-color: transparent;
}*/
/* ----------------------------- S E T T I N G S ----------------------*/

.settings {
    position: fixed;
    display: table;
    top: 50%;
    right: 0;
    height: 200px;
    width: 120px;
    margin-top: -100px;
    background-color: transparent;
    /* border-top: 1px solid #333; */
    border-left: 1px solid #333;
    /* border-bottom: 1px solid #333; */
    color: #333;
    padding: 0 15px 15px 15px;
    z-index: 999;
}

.settings h2 {
    font-weight: 400;
    margin: 20px 0 8px 0;
    font-size: 0.8em;
    line-height: 1.4em;
}

.settings p {
    font-size: 0.8em;
    margin: 0 0 0 0;
}

.settings p a {
    color: #333;
    font-size: 1em;
}
/* ----------------------------- F O O T E R ----------------------*/

.footer h2 {
    font-size: 1em;
    font-weight: 700;   
}

.footer, .footer {
    font-size: 1em;
}

.footer-newsletter h1 {
    margin: 0 0 20px 0;
}

.footer-newsletter {
    margin: 0px;
    text-align: center;
    /* border-bottom: 1px solid #333; */
    border-top: 1px solid #333;
    padding: 85px 0 60px;
    margin: 0 0 0 40px;
}

.footer-newsletter .email-field {
    border: 1px solid #333;
    /* border-top: 1px solid #FFF; */
    /* border-left: 1px solid #FFF; */
    /* border-right: 1px solid #FFF; */
    width: 280px;
    margin: 0 5px 0 0;
    padding: 4px 0 6px 6px;
    font-size: 1em;
}


.footer-newsletter .newsletter-subscribe {
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    padding: 4px 5px 6px 5px;
} 

.newsletter-form input::-webkit-input-placeholder {
   color: #DDD;
}


.footer-content .footer-about {
    margin: 0 40px 0 40px;
    border-right: 1px solid #fff;
}

.footer-about {
    font-size: 1em;
    margin: 0 40px 0 0;
}

.footer-newsletter-form {
    display: inline-block;
}

.footer .header-menu {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.footer-social {
    margin: 0;
}

.footer-social ul {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.footer-social ul li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.footer-social ul li img{
    width: 45px;
    border: 1px solid #333;
    opacity: 0.8;
}

.alphabet ul {
    list-style: none;
}

.alphabet ul li {
    display: inline-block;
}

.alphabet ul li:after{
    content: ' | ';
}

.alphabet ul li:last-child::after{
    content: '';
}


/* Dada ----------------------- Dada ------------------------- */

.header h1:hover { /*wegfließen der h1*/
    transform: scale3d(1,61,-0.1) translate3d(0,60px,00);
    transition: 1s;
}



/* Sythpad -----------*/

#synth-pad {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 49;
    top: 0;
    left: 20;
    /* display: none; */
    /* background: blue; */
}

#synth-pad:hover {
    cursor: crosshair;
}

#info {
    display: none;
}












